*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #001316;
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
}

.header { /* <header> is a .header class */
    color: #FF444E;
    flex-flow: row wrap;
    justify-content: space-between;   
}

.nav-list-item {
    padding: 10px;
}

.logobox {
    font-size: 1.2em;
    padding: 1.2em;
}
.text {
    font-size: 2em;
    color: #FF444E;
}

.navlist {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    color: #FF444E;
}

/*
On screens that are 320px or less use: 
@media screen and (max-width: 321px) {} 
@media screen and (max-width: 480px) {} 
@media screen and (max-width: 768px) {} 
@media screen and (max-width: 1024px) {} 
@media screen and (max-width: 1200px) {}
*/